*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    opacity: .9;
    z-index: 1111;
}
.flex1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-item{
    display: flex;
    gap: 40px;
    align-items: center;
}
/* footer */
.divider{
    height: 2px;
}
@media (max-width:769px){
    .footer-item{
        width: 75%;
        margin: 25px auto;
    }
}
